@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
    --colorBg: #FAF3E0;
    --colorSec: #E07A5F;
    --colorUpgBg: #F6A7D9;
    --colorUpgbtn: #FFA825;
    --colorTxt: #2D2D2D;
    --colorBorder: #A3391C;
}

.bg-light {
    background-color: var(--colorBg) !important;
}

.bg-sec {
    background-color: var(--colorSec);
}

.upg-bg-color {
    background-color: var(--colorUpgBg);
}

.upg-btn-color {
    background-color: var(--colorUpgbtn);
}

* {
    color: var(--colorTxt);
    font-family: "Quicksand", sans-serif;
    font-weight: bold !important;
    overflow: hidden;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: var(--colorTxt);
}

#fortune-button {
    width: 25rem;
    padding: 1rem;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out;
}

.bi-list, .bi-arrow-left-short, .bi-house-fill, .bi-x {
    font-size: 3rem;
    cursor: pointer;
}

.bi-hand-index-thumb-fill, .bi-clock-fill, .bi-lightning-charge-fill {
    font-size: 3vw;
}

#main-menu-icon {
    cursor: pointer;
}

#main-menu {
    transform: translateX(100%);
    transition: all 100ms ease-in-out;
    border-left: 8px solid var(--colorBorder);
}
#main-menu.active {
    transform: translateX(0);
}

.upg-btn {
    background-color: var(--colorUpgbtn);
    width: 7rem;
    height: 100%;
    font-size: 1.5rem;
    cursor: pointer;
}

#sec-menu {
    top: 0;
    left: 0;    
    height: 65%;
    width: 50%;
    transform: translate(50%, 25%);
    border: 8px solid var(--colorBorder);
    border-radius: 15px;
}

#gamble-btn {
    cursor: pointer;
}

#gamble-menu {
    top: 0;
    left: 0;    
    height: 65%;
    width: 50%;
    transform: translate(50%, 25%);
    border: 8px solid var(--colorBorder);
    border-radius: 15px;
}

.btn {
    background-color: var(--colorSec) !important;
    min-width: 50%;
    padding: 1rem !important;
    margin-bottom: 2rem !important;
    font-size: 2vw !important;
}

#progress {
    margin-top: 12rem;
    width: 96%;
    border-radius: 15px;
}
#bar {
    width: 0%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

footer {
    font-size: 1rem;
}

@media(max-width: 875px) {
    #main-menu {
        width: 100% !important;
    }
    #sec-menu {
        width: 100% !important;
        transform: translate(0, 25%);
    }
    #inv-menu {
        width: 100% !important;
        transform: translate(0, 25%);
    }
    h1 {
        font-size: 6vw;
    }
    h2 {
        font-size: 5vw;
    }
    P {
        font-size: 3vw;
    }
    .bi-hand-index-thumb-fill, .bi-clock-fill, .bi-lightning-charge-fill, .bi-x{
        font-size: 6vw;
    }
    .btn {
        font-size: 3vw !important;
    }
    footer {
    font-size: 2vw;
    }
}